@font-face {
    font-family: "Playfair";
    src: url("../Bazyabi/assets/PlayfairDisplayExtrabold-1GDw2.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #204051;
    font-family: "Playfair";
    color: white;
}

.section {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.brand-name {
    font-size: 5.8em;
    margin-bottom: 20px;
    margin-top: 2em;
}

.search-bar {
    display: inline-block;
    width: 70%;
    background-color: #fff;
    height: 50px;
    line-height: 51px;
    font-size: 17px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid rgba(255,255,255,.2);
    padding: 0;
}

.search-input {
    height: 100%;
}

.index-search-input {
    font-size: 14px;
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-family: "Playfair";
    background-color: transparent;
}

.search-btn {
    height: 46px;
    width: 12%;
    padding-top: 4px;
    background-color:  rgb(128, 128, 128);
    border-radius: 0px 30px 30px 0px;
    border: 1px solid rgba(255,255,255,.2);
    display: inline-block;
    cursor: pointer;
}

.search-btn-a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: "Playfair";
}

.search-btn-p {
    padding-right: 8px;
    margin: 0;
    font-size: 24px;
}