@font-face {
    font-family: "Playfair";
    src: url("../Bazyabi/assets/PlayfairDisplayExtrabold-1GDw2.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    color: #204051;
    font-family: "Playfair";
    background-color: white;
}
.search-sec {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 24px;
}
.section {
    width: 63%;
    margin: 0 auto;
    float: left;
    margin-left: 10%;
}

.seprator {
    width: 100%;
    height: 2px;
    background-color: rgb(128, 128, 128,0.2);
}

.brand-name {
    display: inline-block;
    font-size: 1.7em;
    margin: 20px;
    margin-right: 30px;
}

.search-bar {
    display: inline-block;
    width: 40%;
    background-color: #fff;
    height: 40px;
    line-height: 51px;
    font-size: 17px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #204051;
    padding: 0;
}

.search-input {
    height: 100%;
}

.index-search-input {
    font-size: 14px;
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-family: "Playfair";
    background-color: transparent;
}

.search-btn {
    height: 37px;
    width: 12%;
    padding-top: 5px;
    background-color: #204051;
    border-radius: 0px 30px 30px 0px;
    display: inline-block;
    cursor: pointer;
}

.search-btn-a {
    text-align: center;
    text-decoration: none;
    font-family: "Playfair";
}

.a {
    text-decoration: none;
    font-family: "Playfair";
}

.search-btn-p {
    padding-right: 8px;
    margin: 0;
    font-size: 19px;
    color: white;
}

.wrapper {
    margin: 35px 0px;
    font-family: sans-serif;
}